:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size: 16px;
    --font-family: 'Arial, sans-serif';
}

/* Main styling */
main {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Profile image */
  main img {
    width: 150px;
    height: auto;
  }
  
  /* Aside styling */
  aside {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  /* Paragraph styling */
  p {
    padding: 0;
  }
  
  /* Footer styling */
  footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
  }
  